@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes rotateLeft {
  0% {
    bottom: 0;
    transform: rotate(0deg);
    opacity: 0; }
  50% {
    bottom: 15%;
    transform: rotate(180deg);
    opacity: 1; }
  100% {
    bottom: 30%;
    transform: rotate(360deg);
    opacity: 0; } }

@keyframes rotateLeft {
  0% {
    bottom: 0;
    transform: rotate(0deg);
    opacity: 0; }
  50% {
    bottom: 15%;
    transform: rotate(180deg);
    opacity: 1; }
  100% {
    bottom: 30%;
    transform: rotate(360deg);
    opacity: 0; } }

@-webkit-keyframes flyUp {
  0% {
    bottom: 0;
    transform: rotate(0deg);
    opacity: 0; }
  10% {
    opacity: 1; }
  50% {
    bottom: 15%;
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    bottom: 40%;
    transform: rotate(10deg);
    opacity: 0; } }

@keyframes flyUp {
  0% {
    bottom: 0;
    transform: rotate(0deg);
    opacity: 0; }
  10% {
    opacity: 1; }
  50% {
    bottom: 15%;
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    bottom: 40%;
    transform: rotate(10deg);
    opacity: 0; } }

@font-face {
  font-family: 'Cambria';
  src: url(fonts/cambria.ttf); }

@font-face {
  font-family: 'Cambriab';
  src: url(fonts/cambriab.ttf); }

body {
  font-family: 'Cambria';
  margin: 0;
  padding: 0;
  overflow: hidden; }

button,
button:active,
button:focus {
  outline: none; }

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  background: url(img/bg.jpg) no-repeat 30%;
  background-size: cover;
  height: 100vh; }

.sparks {
  position: absolute;
  height: 100%;
  width: 100%; }
  .sparks:before {
    content: '';
    position: absolute;
    background: url("img/sparks.png") no-repeat;
    width: 100%;
    height: 80%;
    background-size: 100%;
    transition: all 5s ease;
    -webkit-animation: rotateLeft 30s linear infinite;
            animation: rotateLeft 30s linear infinite;
    z-index: 2; }
  .sparks:after {
    content: '';
    opacity: 0;
    position: absolute;
    background: url("img/sparks2.png") no-repeat;
    width: 100%;
    height: 70%;
    background-size: 100%;
    transition: all 5s ease;
    -webkit-animation: flyUp 15s linear infinite;
            animation: flyUp 15s linear infinite;
    -webkit-animation-delay: .5s;
            animation-delay: .5s;
    z-index: 4; }

.witcher {
  position: absolute;
  height: 55%;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-animation: fadeIn 1.5s ease-in;
          animation: fadeIn 1.5s ease-in;
  z-index: 3; }

.title {
  flex-grow: 1;
  z-index: 100; }
  .title h1 {
    margin: 7% 0 0;
    font-family: Cambriab;
    margin-bottom: 0;
    text-align: center;
    font-size: 5rem;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0px 0px 0px black, 6px 11px 20px black; }
  .title h3 {
    margin: 0;
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0px 0px 0px black, 6px 11px 20px black; }

.copy {
  margin: 20px;
  font-family: Arial;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  border: 1px dashed #8c8c8c;
  border-radius: 60px;
  height: 40px;
  width: 210px;
  margin: 20px auto 20px; }
  .copy__name {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #8c8c8c;
    width: 100%; }
    .copy__name textarea {
      font-family: Arial;
      font-size: 0.8rem;
      height: 30px;
      width: 100%;
      line-height: 30px;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: #f73428;
      text-align: center;
      background: none;
      border: none;
      resize: none;
      outline: none;
      overflow: auto; }
  .copy__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: all 150ms linear;
    border-radius: 0 60px 60px 0; }
    .copy__btn:hover {
      cursor: pointer;
      background: rgba(141, 141, 141, 0.5);
      color: #b8b8b8;
      transition: all 250ms linear; }
      .copy__btn:hover span {
        color: #888888;
        transition: all 250ms linear; }
    .copy__btn span {
      font-size: .6rem;
      color: #bcbcbc;
      letter-spacing: 2px;
      text-transform: uppercase;
      transition: all 250ms linear; }

.play {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 180px;
  height: 40px;
  border-radius: 60px;
  border: none;
  background: #f73428;
  margin: 0 auto;
  box-shadow: 3px 14px 25px black;
  text-decoration: none; }
  .play span {
    font-family: Arial;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px; }
  .play:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -95px;
    opacity: .2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 70px; }
  .play:hover {
    cursor: pointer; }
    .play:hover:after {
      left: 120%;
      transition: all 950ms cubic-bezier(0.19, 1, 0.22, 1); }

.footer {
  display: flex;
  justify-content: space-between;
  z-index: 9; }
  .footer__logo {
    margin: 0 0 10% 4%; }
    .footer__logo a img {
      width: 100px; }
  .footer__terms {
    margin-right: 2%;
    font-size: 0.7rem;
    color: #8c8c8c; }

@media screen and (min-width: 768px) {
  .witcher {
    height: 60%;
    bottom: -15%; }
  .sparks {
    height: 100%;
    width: 60%;
    left: 20%; }
    .sparks:before {
      width: 100%;
      background-size: 100%; }
    .sparks:after {
      width: 100%;
      height: 50%;
      background-size: 100%; }
  .title h1 {
    margin: 3% 0 0;
    font-size: 8rem; }
  .title h3 {
    font-size: 2.6rem; }
  .copy {
    margin: 60px;
    height: 60px;
    width: 340px;
    margin: 20px auto 30px; }
    .copy__name {
      justify-content: center; }
      .copy__name textarea {
        font-size: 1.4rem; }
    .copy__btn span {
      font-size: .9rem; }
  .play {
    width: 250px;
    height: 60px; }
  .footer__logo {
    margin: 0 0 12% 4%; }
    .footer__logo a img {
      width: 150px; }
  .footer__terms {
    font-size: 0.9rem; } }

@media screen and (min-width: 1024px) {
  .witcher {
    height: 80%;
    bottom: 0;
    margin: 0; }
  .sparks {
    height: 100%;
    width: 50%;
    left: 0; }
    .sparks:before {
      width: 100%;
      height: 80%;
      left: 20%;
      background-size: 100%; }
    .sparks:after {
      left: 25%;
      width: 100%;
      height: 70%;
      background-size: 100%; }
  .title {
    align-self: flex-end;
    margin: 10%; }
    .title h1 {
      margin: 7% 0 0;
      font-size: 8rem; }
    .title h3 {
      font-size: 2.6rem; }
  .copy {
    margin: 60px;
    height: 60px;
    width: 340px;
    margin: 30px auto 30px; }
    .copy__name {
      justify-content: center; }
      .copy__name textarea {
        font-size: 1.4rem; }
    .copy__btn span {
      font-size: .9rem; }
  .play {
    width: 250px;
    height: 60px; }
  .footer__logo {
    margin: 0 0 12% 4%; }
    .footer__logo a img {
      width: 150px; }
  .footer__terms {
    font-size: 0.9rem; } }

@media screen and (min-width: 1200px) {
  .main {
    justify-content: flex-start; }
  .sparks {
    height: 100%;
    width: 50%;
    left: 0; }
    .sparks:before {
      width: 100%;
      height: 80%;
      left: 20%;
      background-size: 100%; }
    .sparks:after {
      left: 25%;
      width: 100%;
      height: 70%;
      background-size: 100%; }
  .witcher {
    height: 100%; }
  .title {
    align-self: flex-end;
    margin: 12% 7% 0 0; }
    .title h1 {
      font-size: 10.3rem;
      font-weight: bold;
      line-height: 0.95; }
    .title h3 {
      font-size: 3.4rem; }
  .copy {
    height: 64px;
    width: 375px;
    margin: 32px auto 50px; }
    .copy__name {
      justify-content: center;
      min-width: 220px; }
      .copy__name textarea {
        font-size: 2rem; }
    .copy__btn {
      font-size: .9rem; }
  .play {
    width: 290px;
    height: 60px; }
  .footer {
    justify-content: space-between; }
    .footer__logo {
      margin: 0 0 17% 4%; }
      .footer__logo a img {
        width: 170px; }
    .footer__terms {
      margin-top: 20px; } }

